
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelNorthernBreeze</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <div class="signup-card">
        <form asp-action="Create" asp-method id="signup-form">
            <div class="card p-5">
                <h1>Sign Up</h1>

                <input type="text" placeholder="First Name" name="firstName"
                       required pattern="[A-Za-z]{1,15}"
                       title="First name cannot have non characters">

                <input type="text" placeholder="Last Name" name="lastName"
                       required pattern="[A-Za-z]{1,15}"
                       title="Last name cannot have non characters">

                <input type="email" placeholder="Email" name="email" class="cus-input"
                       required>

                <input type="text" placeholder="NIC" name="nic"
                       required pattern="^([0-9]{9}[x|X|v|V]|[0-9]{12})$"
                       title="NIC cannot have Special Characters!">

                <input type="text" placeholder="Contact Number" name="contactNumber" class="cus-input"
                       required pattern="[0-9]{10}"
                       title="Please enter valid phone number">
                <fieldset>
                    <input type="password" placeholder="Password" name="password" id="password"
                           required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$"
                           title="Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character">

                    <input type="password" placeholder="Confirm Password" name="confirm-password" id="confirm_password"
                           required>

                    <div class="clearfix d-flex">
                        <button type="button" class="btn btn-secondary font-weight-bold py-2 mr-2 w-50">Cancel</button>
                        <button type="submit" class="btn btn-primary font-weight-bold py-2 w-50">Sign Up</button>
                    </div>
                </fieldset>
                <p class="text-center mt-4">
                    <span class="light">
                        Already have login and password?
                        <a asp-controller="login" asp-action="Index">Sign in</a>
                    </span>
                </p>
            </div>
        </form>
    </div>

    @if (ViewBag.error is not null)
    {
        <script>
            alert("@ViewBag.error");

        </script>
    }


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/signup.js"></script>
</body>
</html>


