@{
    ViewData["Title"] = "Home Page";
}

<div id="sandbox-container" class="text-center">

    <div class="book-now-pg">
        <form asp-action="CreateBooking">
            <div class="card p-5">
                <div class="row">
                    <div class="col-2 ">
                        <div class="form-group">
                            <input id="datepicker" placeholder="Check In" width="150" name="fromDate" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <input id="datepicker1" placeholder="Check Out" width="150" name="toDate" />
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1" name="size">
                                <option value="" selected disabled hidden>Room</option>
                                <option>Single</option>
                                <option>Double</option>
                                <option>Triple family</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1" name="category">
                                <option value="" selected disabled hidden>Room Category</option>
                                <option>Standard</option>
                                <option>Deluxe</option>
                                <option>Executive</option>
                                <option>Royal suite</option>
                            </select>
                        </div>
                    </div>

                    <input type="hidden" value="" name="userNic" />

                    <div class="col-2">
                        <button type="submit" class="btn btn-primary font-weight-bold">Check</button>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                    <div class="p-t-32">
                    <button type="button" class="btn btn-primary font-weight-bold">Check</button>
                    </div>
                    </div>
                    </div>*@

            </div>


        </form>
    </div>

</div>

<script>
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });

    $('#datepicker1').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>


@if (ViewBag.error is not null)
{
    <script>
        alert("@ViewBag.error");
    </script>
}