@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="book-now-pg">
    <form>
        <div class=".booking card p-3">
            <div class="col-7 ">
                <label>Number of nights : <span>6</span></label>
                <span class="discount-coupon">25% Discount Applied</span>
                <label>Current Booking Price : <span>$234.00</span></label>

                <div class="clearfix d-flex">
                    <button type="button" class="btn btn-secondary font-weight-bold py-2 mr-2 w-50">Cancel</button>
                    <button class="btn btn-primary font-weight-bold w-50">Book Now</button>
                </div>
            </div>
        </div>
    </form>

    <div class="up-coming card p-3">
        <div class="col-5">
            <h5>Up Comming bookings</h5>
            <p>12/03/2021 - 14/03/2021</p>
            <p>16/04/2021 - 14/04/2021</p>
            <p>15/07/2021 - 14/07/2021</p>
            <label>Total : <span>$234.00</span></label>
        </div>
    </div>

</div>
