@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<label>Room Size :</label>
<select class="form-control" id="exampleFormControlSelect1">
    <option>Single</option>
    <option>Double</option>
    <option>Triple family</option>
</select>
<label>Room Category :</label>
<select class="form-control" id="exampleFormControlSelect1">
    <option>Standard</option>
    <option>Deluxe</option>
    <option>Executive suite</option>
    <option>Royal suite</option>
</select>
<br />

<label>Number of nights: </label>
<input type="type" name="name" value="6" />
<br />

<span>25% Discount Applied</span>
<br />
<label>Total :</label>

<span>$234.00</span>


<button>Reserve</button>