/* Bordered form */

form {
    border: 3px solid #f1f1f1;
}


/* Full-width inputs */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


    /* Add a hover effect for buttons */

    button:hover {
        opacity: 0.8;
    }


/* Extra style for the cancel button (red) */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


/* Center the avatar image inside this container */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


/* Avatar image */

img.avatar {
    width: 40%;
    border-radius: 50%;
}


/* Add padding to containers */

.container {
    padding: 16px;
}


/* The "Forgot password" text */

span.psw {
    float: right;
    padding-top: 16px;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

* {
    box-sizing: border-box
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Set a style for all buttons */

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    button:hover {
        opacity: 1;
    }


/* Extra styles for the cancel button */

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


/* Float cancel and signup buttons and add an equal width */

.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}


/* Add padding to container elements */

.container {
    padding: 16px;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

.p-t-32 {
    padding-top: 32px;
}

.card {
    border: unset !important;
    box-shadow: 0px 4px 27px 0px rgb(0 0 0 / 10%);
}

.logo-title {
    font-weight: 600;
    color: white !important;
}

.navbar-righr li a {
    color: white !important;
}

form {
    border: unset;
}

.book-now-pg {
    width: 1000px;
    margin: auto;
}

.book-now-pg .card{
    top:200px;

}

.up-coming {
    width: 400px;
    min-height:248px;
}

.up-coming p{
    margin-bottom:2px;
}

    .login-card .card {
    width: 500px;
    margin: auto;
    top: 185px;
}

.discount-coupon {
    border-radius: 3px;
    background-color: #04AA6D;
    padding: 2px 10px;
    color: white;
    margin: auto;
    margin-left: 20px;
}




.login-card h3 {
    color: #041e4a;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.navbar,
.footer {
    background: #040d21;
}

.footer {
    line-height: 20px;
}

    .footer .container,
    .footer .container a {
        color: white;
        text-align: center;
    }

.signup-card .card {
    width: 550px;
    margin: auto;
    top: 50px;
}

.signup-card h1 {
    color: #041e4a;
    font-size: 700;
    padding-bottom:20px;
}

.booking-list-card {
    top: 50px;
    width: 1000px;
    margin: auto;
}

    .booking-list-card h3 {
        color: #041e4a;
        font-size:700;
    }

.home-pg {
    position: absolute;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 20%;
}

.home-pg .card{
    width: 1150px;
}

.cus-input {
    background: #f1f1f1;
    padding: 10px;
    border: unset;
    margin: 5px 0 22px 0;
}

.cus-input:focus {
     background-color: #ddd;
     outline: none;
}

.login-btn {
    margin-top: 2px;
    margin-left: 30px;
}

.login-btn a{
    background: #041e4a !important;
    border: unset;
    padding: 8px 30px !important;
    border-radius: 5px;
    font-weight:600 !important;
}

    .login-btn a:hover {
        background: white !important;
        color: #041e4a !important;
        font-weight: 700 !important;
    }

.btn-primary {
    background: #041e4a !important;
    border-color: #041e4a !important;
    border: unset;
    outline: unset;
    box-shadow: unset;
}

@media screen and (max-width: 1550px) {
    .home-pg {
        padding-left: 10% !important;
    }

    .carousel-item {
        height: 680px !important;
    }

}

.f-s-20{
    font-size:20px;
}